<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div>
        <form action="/info" method="post">
            <p><input type="text" placeholder="Enter Your Name" name="Name" id="name"></p>
            <p><input type="text" placeholder="Enter Your Age" name="Age" id="age"></p>
            <p><input type="submit" value="Submit" id="submit"></p>
        </form>
    </div>
</body>
</html>