<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finbot</title>
    <link rel="stylesheet" href ="{{ url_for('static',filename='index.css') }}">
</head>
<body>
    <h1>Finbot</h1>
    <p>For all your finance decisions</p>
    <form action="/login" method="post">
        <div class="container">
            <button type="submit" value="login">Login</button>
        </div>
    </form>
</body>
</html>
